<div class='list-index-content container'>
  <%= render partial: 'rental_apps/rentalapps' %>
  <div class='span-14 welcome'>
    <h1>Welcome!</h1>
    <h5> Go ahead, start adding properties</h5>
    <%= image_tag 'left-arrow.png' %>
  </div>
</div>