<H1> Your application has been submitted.</H1>
<H2> Thank you for using TenantManager!</H2>
<%= @rental_app.firstname %>
<%= @rental_app.lastname %>
<%= @rental_app.email %>
<%= @rental_app.propertyaddress %>
