<div class='empty container'>
  <div class='push-5 span-14'>
    <h1>You currently do not have any properties</h1>
    <div class='clear padded'>
      <%= link_to "+ Add a property", new_property_path, class: 'btn' %>
    </div>
  </div>
</div>
